@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:  'Roboto';
  font-size: 1rem;
  background-color: #050505;
  color: #fafafa;

}

.App {
  display: flex;
  max-height: 60%;
  margin: auto;
  margin-top: 2%;
  align-items:flex-start;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: hidden;
  max-width: 1200px;
  
}

header { 
  margin: 5px;
  margin-top: 0px;
  padding: 10px;
  padding-top: 5px;
  font-size: 1em;
  
}
.statcontainer {
  display: block;
  list-style-type: none;
  overflow-y: hidden;
  width: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.scoreritem{
  margin: 10px;
  border: 1px solid #8fb3ff;
  border-radius: 10px;
  padding: 5px;
}
.statitem {
  margin: 5px;
  padding: 10px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
  border: 2px solid #8fb3ff;
}
.compareitem {
  margin: 5px;
  padding: 10px;
  text-align: center;
  min-height: 40px;
  max-height: 40px;
}
ul {
  list-style-type: none;
  overflow-y: auto;
  margin-top: 0;
}
.topscorerscontainer{
  margin: 5px;
  padding: 10px;
  overflow-y: auto;
  max-height: 80vh;
}
.navbar {
  display: flex;
  list-style-type: none;
  width: fit-content;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 0;
}
.navbarItem {
  display: block;
  text-decoration: none;
  background-color: #8fb3ff;
  color: #fafafa;
  padding: 5px;
  padding-top: 5px;
  text-align: left;

}
.navbarItem:hover {
  animation-name: test;
  animation-duration: 1s;
  animation-fill-mode:forwards;
  padding: 6px;

}
.playercontainer {
  margin: 20px;
  overflow-y: auto;
}

.comparecontainer {
  margin: 20px;
  overflow-y: auto;
}


form {
  display: flex;
  flex-flow: row wrap;
  min-width: 350px;
  max-height: 80vh;
  max-width: 80%;
  overflow-y: auto;
  border-radius: 20px;
  background-color: #000f33;
  font: inherit;
  justify-content: center;
  margin: 5px;
  margin-bottom: 0;
  padding: 5px;
}
.playerbyname {
  display: block;
  text-align: center;
  width: fit-content;
  overflow-x: hidden;
  overflow: hidden;
}
input {
  width: fit-content;
  height: fit-content;
  font: inherit;
  height: 40px;
  font: 1.5rem;
  color: #fafafa;
  border-radius: 10px;
  background-color: #8fb3ff;
  outline: none;
  padding: 3px;
  margin: 10px;
}

input::placeholder {
  color: #fafafa;
}

.bynameinput {
  font: inherit;
  margin: 10px;
  min-width: 30%;
  width: fit-content;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: transparent;
}
button {
  font:inherit;
  background-color: #ed78ab;
  color: #fafafa;
  border-radius: 10px;
  height: fit-content;
  margin: 5px;;
  padding: 9px;
  width: fit-content;
}
button:hover {
  scale: 1.05;
  font-size: 1.1rem;
  animation-name: buttonAnim;
  animation-duration: 2s;
  outline: none;
}
.formcontrols {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
li {
  font: inherit;
}

footer {
  align-self: baseline;
  text-align: center;
  width: 100%;
  background-color: #8fb3ff;
}
@keyframes test {
  
  100% {background-color: #000f33}
}

@keyframes buttonAnim {
  100% {box-shadow: 0 0 10px white};
}
.search {
  scale: 1.5;
}
@media screen and (max-width: 480px) {
  .navbar {
    display: block;
    width: 300px;
    text-align: center;
  }
  .navbarItem {
    text-align: center;
  }
}
@media screen and (max-width: 760px) {
  header {
    width: 100%;
    text-align: center;
  }
  .navbar {
    display: block;
    width: 100%;
    text-align: left;
  }
  .playercontainer {
    margin: 0;
    width: 30%;
    font-size: 0.5em;
  }
  .comparecontainer {
    margin: auto;
    width: 10%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 760) and (max-width: 1000) {
  .navbar {
    display: flex;
    margin: 10px;
    padding: 10px;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
  }
  @media screen and (min-width: 761)  {
    .App {
      font-size: 14px;
      }
    }

    @media screen and (min-width: 1400)  {
      header {
        display: block;
        }
      }
 
}
